/* Color Theme Swatches in Hex */
$KOF-1-hex: #731D2C;
$KOF-2-hex: #2A4C59;
$KOF-3-hex: #4E96A6;
$KOF-4-hex: #F2B33D;
$KOF-5-hex: #F24738;

/* Color Theme Swatches in RGBA */
$KOF-1-opacity: rgba(115,29,44, .45);
$KOF-2-opacity: rgba(42,76,89, .45);
$KOF-3-opacity: rgba(78,150,166, .45);
$KOF-4-opacity: rgba(242,179,61, .45);
$KOF-5-opacity: rgba(242,71,56, .45);

/* Color Theme Swatches in HSLA */
$KOF-1-hsla: hsla(349, 59, 28, 1);
$KOF-2-hsla: hsla(196, 35, 25, 1);
$KOF-3-hsla: hsla(190, 36, 47, 1);
$KOF-4-hsla: hsla(39, 87, 59, 1);
$KOF-5-hsla: hsla(4, 87, 58, 1);