@import './colors/color';

html, body, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: $KOF-3-hex;
  font-size: 1.1rem;
  color: rgb(35,35,35);
}

li {
  list-style: none;
}

main {
  width: 80vw;
  margin: auto;
  .categories {
    padding: 55px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px; 
  }
}

nav {
  display: flex;
  padding: 100px 0px 30px;  
  flex-direction: column;
  width: 60vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  ul.elements {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
    font-size: 1.5rem;
    a {
      color: currentColor;
      text-decoration: none;
      box-shadow: 0px 3px 0px transparent;
      transition: .4s;

      &:hover { 
        box-shadow: 0px 3px 0px white;
      }
    }
  }

  div.search-box {
    width: 65%;
    padding: 25px;

    input {
      width: 85%;
      padding: 10px;
      height: 50px; 
      border: 2px solid $KOF-4-hex;
      border-radius: 5px 0 0 5px;
      box-sizing: border-box;
      transition: .8s;
      font-size: 1rem;
      box-shadow: 0px 0px 0px 0px $KOF-4-opacity;

      &:focus {
        outline: 0;
        box-shadow: 0px 0px 30px 30px rgba(0,0,0,0);
      }
    }

    button {
      width: 15%;
      background-color: $KOF-4-hex;
      box-sizing: border-box;
      height: 50px;
      border: none;
      cursor: pointer;
      border-radius: 0px 5px 5px 0px;
      color: #fff;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  transition: .4s;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1),
              0px 2px 5px 0px rgba(0,0,0,.3);
  
  &:hover, &.active {
    transform: translate(0px, -5px);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1),
                0px 10px 20px rgba(0,0,0,.25);
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  .img-container {  
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0.2rem .5rem rgba(0,0,0,.3);
    
    img {
      height: 100%;
    }
  }
  
  .info {
    width: 100%;
    padding: 25px 0px 15px 0;
    font-size: 1.15rem;

    .title {
      font-size: 1.3rem;
      font-weight: 600;
      padding: 15px 0;
    }
  }
}

.Admin {
  main {
    padding: 0;
    display: block;
    height: 42vh;
    
    aside {
      overflow: hidden;
      width: 30%;
      height: 42vh;
      float:left;
      z-index: 100;
      box-sizing: border-box;
      border-right: 1px solid rgba(0,0,0,.15);

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
          padding: 20px 30px;
          width: 100%;
          cursor: pointer;
          transition: .4s;
          font-size: 1.15rem;
          font-weight: 600;
          text-align: left;
          box-sizing: border-box;
          display: flex;
          align-items: center;

          span {
            padding-left: 15px; 
            display: flex;
            align-items: center;
          }

          &:hover {
            background-color: rgba(0,0,0,.1);
          }
        }
      }
    }

    article {
      padding: 15px;
      box-sizing: border-box;
      float:left;
      width: 70%;
      height: 42vh;
      overflow-y: scroll;
      text-align: left;
    }
  }
}

.form {
  width: 40vw;
  padding: 15px !important;

  .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0;
  }

  .field {
    padding: 15px 0;

    label {
      padding: 0 15px;
    }

    input, select {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,.2);
    }
  }

  button {
    background-color: $KOF-1-hex;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
}

.no-padding {
  padding: 0 !important;
}